

/* The Modal (background) */
/* #box{

  border: 10px dotted black;
  padding: 700px;
  width: 300px;
  height: 500px;
  background: lightblue;
 
} */


.background{

  background-color : purple;
  color: red;
}

.div2 {
  width: 300px;
  height: 100px;  
  padding: 1000px;
  border: 1px solid red;
}

/* .wrapper {	
  width: 100000px;
  height: 600px;
	margin-top: 80px;
  margin-bottom: 80px;
} */

